@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('fonts/Simple-Line-Icons.eot');
	src:url('fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Simple-Line-Icons.woff') format('woff'),
		url('fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

#wp-auth-check-wrap #wp-auth-check {
	padding: 0 !important;
	background-color: transparent !important;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
	display: none !important;
}

html, body.rkt {
	font-family: 'Roboto' !important;
	letter-spacing: 0.5px
}

html.login {
	background: #2B2F32;
}

body.rkt * {
	font-weight: 100;
	box-shadow: none !important;
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 0 !important;
	-webkit-border-radius:0 !important;
}

body.rkt #wpadminbar {
	color: white;
	background: #363b3f;
	height: 42px;
}

body.rkt #wpadminbar a.view-site {
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
	padding: 0px 15px;
	line-height: 43px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #fff;
	float: left;
	display: block;
	height: 100% !important;
	width: 170px !important;
}

body.rkt #wpadminbar a.view-site:hover,
body.rkt #wpadminbar a.view-site:focus {
	color: #fff;
}

body.rkt .wp-menu-arrow {
	display: none;
}


body.rkt #wpcontent {
	margin-top: 10px;
}

input[type=radio] {
	border-radius: 50% !important;
	-webkit-border-radius:50% !important;
}

#titlediv #title-prompt-text {
	color: #777;
	position: absolute;
	font-size: 1.7em;
	padding: 10px 10px 9px;
}

body.rkt .acf-icon {
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
	border-color:#363B3F;
}

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
	padding: 0 12px;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
	background: #4D555A
}

.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active {
	background: #9A9A9A;
}

body.rkt.wp-core-ui .button-primary-disabled, body.rkt.wp-core-ui .button-primary.disabled, body.rkt.wp-core-ui .button-primary:disabled, body.rkt.wp-core-ui .button-primary[disabled] {
	background: #9A9A9A !important;
	color: #fff !important;
	text-shadow:none !important;
}

body.rkt .wrap .add-new-h2, body.rkt .wrap .add-new-h2:active, body.rkt .wrap .page-title-action, body.rkt .wrap .page-title-action:active {
	color: #363B3F;
	font-weight: 500
}

body.rkt .wrap .add-new-h2:hover, body.rkt .wrap .page-title-action:hover {
	background: #363B3F;
	color: #fff;
	font-weight: 500
}

body.rkt #adminmenu .awaiting-mod, body.rkt #adminmenu .update-plugins {
	line-height: 15px;
}

body.rkt #adminmenu li a.wp-has-current-submenu .update-plugins, body.rkt #adminmenu li.current a .awaiting-mod,
body.rkt #adminmenu .awaiting-mod, body.rkt #adminmenu .update-plugins {
	background: #F53D4E
}

body.rkt .plugin-card .install-now:before, body.rkt .plugin-card .update-now:before, body.rkt .plugin-update-tr .update-message:before {
	color: #F53D4E
}

body.rkt #adminmenu li .awaiting-mod span, body.rkt #adminmenu li span.update-plugins span {
	padding: 1px 5px 0 6px
}

#wpadminbar .quicklinks a,
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .shortlink-input {
	height: 42px;
	line-height: 42px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
	width: 22px;
	height: 22px;
	border-radius: 18px !important;
}

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	color: #fff;
	background: #26292c;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
	color: #fff;
}

#wp-admin-bar-my-account>.ab-item:before {
    content: "\f110";
    top: 6px;
    float: right;
    border: 1px solid #525252;
    border-radius: 50%;
    text-align: center;
    width: 28px;
    margin-left: 6px;
    margin-right: 0;
}

#wp-admin-bar-user-info .avatar {
	top: 12px;
	box-shadow: 0 0 0px 1px rgba(255,255,255,0.3) !important;
	border-radius: 64px !important;
}

#adminmenuback, #adminmenuwrap, #adminmenu {
	background: #363b3f;
}

#adminmenu {
	margin: 0;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu>a.menu-top:focus {
	background: #F1F1F1;
	color: #363B3F;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head div.wp-menu-name,
#adminmenu li.current a.menu-top div.wp-menu-name,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu div.wp-menu-name,
.folded #adminmenu li.current.menu-top div.wp-menu-name,
.folded #adminmenu li.wp-has-current-submenu div.wp-menu-name {
	color: #363B3F;
	font-weight: 400
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head div.wp-menu-image:before,
#adminmenu .wp-menu-arrow div.wp-menu-image:before,
#adminmenu .wp-menu-arrow div div.wp-menu-image:before,
#adminmenu li.current a.menu-top div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu div.wp-menu-image:before,
.folded #adminmenu li.current.menu-top div.wp-menu-image:before,
.folded #adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
	color: #363B3F
}


#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
	background: #26292c;
}

#adminmenu .wp-submenu li > a > img {
	display: none;
}

#adminmenu div.wp-menu-name {
	padding: 13px 0;
	border-bottom: 1px solid #2A2E31;
}

#adminmenu li.wp-menu-separator {
	height: 0;
	padding: 0;
	display: none;
	margin: 0;
	border-width: 1px 0;
	border-style: solid;
	cursor: inherit;
}

#adminmenu .wp-has-current-submenu ul > li > a,
.folded #adminmenu li.menu-top .wp-submenu > li > a {
	padding: 6px 12px;
}

#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu {
	width: 200px;
}

#wpcontent, #wpfooter {
	margin-left: 220px;
	padding-left: 0;
}

div.wp-menu-image:before {
	font: normal 18px/1 'Simple-Line-Icons' !important;
	speak: none;
	color: #999;
	padding: 13px 0;
	height: 8px;
	margin-left: 5px;
	width: 20px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li>a.menu-top:focus {
	color: white;
	background-color: #2E3235;
}

#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after {
	color: #fff;
}

#collapse-menu #collapse-button div:after {
	transition: all 0.5s ease;
}

#collapse-menu:hover #collapse-button div:after {
	transform:rotate(360deg);
	transition: all 0.5s ease;
}

#adminmenu li.menu-top.wp-menu-open:hover,
#adminmenu li.menu-top.wp-menu-open a:hover {
	border-left: none !important;
}

#adminmenu .wp-submenu {
	left: 200px;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
	color: #ffffff;
}

.folded #adminmenuback,
.folded #adminmenuwrap,
.folded #adminmenu,
.folded #adminmenu li.menu-top {
	width: 41px;
}

.folded #wpcontent,
.folded #wpfooter {
	margin-left: 61px;
}

.folded #adminmenu li.menu-top:hover,
.folded #adminmenu li.opensub > a.menu-top,
.folded #adminmenu li > a.menu-top:focus {
	z-index: 10000;
	border-left: none;
}

.folded #adminmenu .wp-submenu.sub-open,
.folded #adminmenu .opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu a.menu-top:focus + .wp-submenu,
.folded #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
.no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
	top: 0;
	left: 41px;
}

.folded div.wp-menu-image:before {
	padding: 8px 5px 5px;
}

.folded #collapse-button {
	margin: 10px 8px 10px 9px;
}

.wp-core-ui .button-primary {
	background: #363B3F;
	border-color: #d02a21;
	border: none;
	color: white;
}

body.rkt .wrap .add-new-h2, .wrap .add-new-h2:active {
	background: #363B3F;
	color: #fff;
	font-weight: 100
}






body.rkt #collapse-button div:after {
	content: '\e07a';
	color: #fff;
	display: block;
	line-height: 15px;
	left: -3px;
	top: -3px;
	font: normal 18px/1 'Simple-Line-Icons' !important;
	speak: none;
	margin: 0 auto;
	padding: 0 !important;
	position: relative;
	text-align: center;
	width: 20px;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#adminmenu #collapse-menu {
	font-size: 13px;
	line-height: 33px;
	font-weight: 100;
	margin-top: 10px;
	padding-left: 5px;
}

#adminmenu .awaiting-mod, #adminmenu .update-plugins,
#sidemenu li a span.update-plugins,
body.rkt .title-count, body.rkt .filter-count .count,
body.rkt .column-author img, body.rkt .column-username img {
	border-radius: 50% !important
}

body.rkt #collapse-menu span {
	color: #fff;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
	display: none;
}

#adminmenu li.opensub>a.menu-top{
	background-color:#2E3235;
	color: #eee
}

#adminmenu li.wp-menu-open.opensub>a.menu-top{
	background-color:#F1F1F1;
	color: #363B3F
}

#adminmenu li {
	transition: all 0.3s ease-in-out;
}


#adminmenu li.menu-top:hover {
	background-color: #2E3235;
	color: #fff;
}

#message {
	box-shadow: 5px 5px rgba(0,0,0,0.04) !important;
}

#adminmenu > li > a {
	overflow: hidden;
	position: relative;
}

#wpadminbar .quicklinks>ul>li>a {
	padding: 0 12px;
}

#adminmenu > li > a:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	background: rgba(132, 144, 154, 0.1)
}

#adminmenu > li > a.clicked:after {
	animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: scale3d(3, 3, 1);
	}
}



.icon32 {
	display: none;
}

.icon16 {
	height: 18px;
	width: 18px;
	padding: 6px 6px;
	margin: -6px 0 0 -8px;
	float: left;
}

/* New Menu icons */

.icon16:before {
	font: normal 20px/1 'dashicons';
	speak: none;
	padding: 6px 0;
	height: 34px;
	width: 20px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition:    all .1s ease-in-out;
	transition:         all .1s ease-in-out;
	color: #f1f2f3;
}

#adminmenu div.wp-menu-image {
	float: left;
	width: 40px;
	height: 30px;
	margin: 0;
	text-align: center;
}

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
	background: #26292C !important
}

div.wp-menu-image img {
	display: none
}


#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
body.rkt #adminmenu div.wp-menu-image:before {
	color: #f1f2f3;
}

#adminmenu div.wp-menu-image:before {
	content: '\e034';
}


.icon16.icon-dashboard:before,
#adminmenu .menu-icon-dashboard div.wp-menu-image:before {
	content: '\e007';
}

.icon16.icon-post:before,
#adminmenu .menu-icon-post div.wp-menu-image:before {
	content: '\e031';
}

.icon16.icon-media:before,
#adminmenu .menu-icon-media div.wp-menu-image:before {
	content: '\e032';
}

.icon16.icon-links:before,
#adminmenu .menu-icon-links div.wp-menu-image:before {
	content: '\f103';
}

.icon16.icon-page:before,
#adminmenu .menu-icon-page div.wp-menu-image:before {
	content: '\e040';
}

.icon16.icon-comments:before,
#adminmenu .menu-icon-comments div.wp-menu-image:before {
	content: '\f101';
	margin-top: 1px;
}

.icon16.icon-appearance:before,
#adminmenu .menu-icon-appearance div.wp-menu-image:before {
	content: '\e043';
}

.icon16.icon-plugins:before,
#adminmenu .menu-icon-plugins div.wp-menu-image:before {
	content: '\e00c';
}

.icon16.icon-users:before,
#adminmenu .menu-icon-users div.wp-menu-image:before {
	content: '\e001';
}

.icon16.icon-tools:before,
#adminmenu .menu-icon-tools div.wp-menu-image:before {
	content: '\e052';
}

.icon16.icon-settings:before,
#adminmenu .menu-icon-settings div.wp-menu-image:before {
	content: '\e09a';
}

.icon16.icon-site:before,
#adminmenu .menu-icon-site div.wp-menu-image:before {
	content: '\f112'
}

.icon16.icon-generic:before,
#adminmenu .menu-icon-generic div.wp-menu-image:before {
	content: '\e06e';
}

.icon16.icon-generic:before,
#adminmenu .toplevel_page_gf_edit_forms div.wp-menu-image:before {
	content: '\e086';
}

body.rkt #adminmenu .toplevel_page_gf_edit_forms div.wp-menu-image {
	background-image: none !important;
}

body.rkt #toplevel_page_w3tc_dashboard .wp-menu-image {
	background: none !important;
}

.icon16.icon-generic:before,
#adminmenu .toplevel_page_w3tc_dashboard div.wp-menu-image:before {
	content: '\e01c';
}

.icon16.icon-site:before,
#adminmenu .menu-icon-site div.wp-menu-image:before {
	content: '\e037';
}

.icon16.icon-generic:before,
#adminmenu .toplevel_page_loco-translate div.wp-menu-image:before {
	content: '\e07d';
}


#adminmenu li#toplevel_page_woocommerce-pos .wp-menu-image.svg {
	background-size: 0 !important;
}


body.rkt.login #login {
	width: 300px;
}

body.rkt.login {
	background: #2B2F32
}

body.rkt.login form {
	background: none;
	border-bottom: 1px solid #33373A;
	padding: 0px 0 30px;
}

body.rkt.login h1 a {
	background-image: none,url(../images/wordpress-logo.svg);
}

body.rkt.login input[type="text"],
body.rkt.login input[type="password"],
body.rkt.login input:-webkit-autofill,
input:-webkit-autofill {
	background: #F9F9F9 !important;
	background-color: #F9F9F9 !important;
	border: none !important;
	padding: 10px 12px;
	font-size: 20px;
	margin: 0;
}

body.rkt.login input#user_login {
	border-radius: 2px 2px 0 0 !important;
	padding-bottom: 11px;
}

body.rkt.login input#user_pass {
	border-radius: 0 0 2px 2px !important;
	border-top: 1px solid #ccc !important
}

body.rkt.login form#lostpasswordform input#user_login {
	border-radius: 2px !important;
}


body.rkt.login form .forgetmenot {
	display: none;
}

body.rkt.login input#wp-submit {
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin-top: 20px;
	border-radius: 2px !important;
	font-size: 15px;
	padding: 0;
	background-color: #3F4448;
}

body.rkt.login #nav,
body.rkt.login #backtoblog {
	text-align: center;
	opacity: 0.4
}

body.rkt.login .message,
body.rkt.login #login_error {
	border-left: none;
	background: none;
	text-align: center;
	color: #fff;
}


#wpadminbar #wp-admin-bar-my-sites>.ab-item:before,
#wpadminbar #wp-admin-bar-site-name>.ab-item:before,
#wpadminbar .quicklinks li .blavatar {
	display: none;
}


#adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover, #dashboard_right_now .versions .b, #ed_reply_toolbar #ed_reply_strong, #pass-strength-result.short, #pass-strength-result.strong, #post-status-display, #post-visibility-display, .feature-filter .feature-name, .item-controls .item-order a, .media-item .percent, .plugins .name {
	font-weight: 400
}

body.rkt input[type=radio]:checked:before,
body.rkt input[type=checkbox]:checked:before {
	color: #616161
}

body.rkt #misc-publishing-actions label:before,
body.rkt #misc-publishing-actions .misc-pub-section:before,
body.rkt #misc-publishing-actions #timestamp:before {
	display: none !important;
}

body.rkt .wp-media-buttons .add_media span.wp-media-buttons-icon:before {
	font-family: 'Simple-Line-Icons';
	content: "\e032";
	font-size: 18px;
	position: relative;
	top: -2px;
}

body.rkt .wp-media-buttons .button {
	padding-top: 1px;
}


/*RESPONSIVE*/

@media screen and (max-width: 700px) {

	body.rkt #wpcontent {
		margin-top: 0;
	}

	body.rkt #wpadminbar a.view-site {
		display: none;
	}

	body.rkt #wpadminbar .ab-icon {
		height: 42px;
		width: 42px;
	}

	body.rkt #wpadminbar #wp-admin-bar-menu-toggle a {
		border: none;
		height: 42px;
		width: 42px;
	}

	body.rkt #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
		font-size: 25px;
		height: 42px;
		width: 42px;
	}

	body.rkt.auto-fold #adminmenu {
		top: 42px;
	}

	body.rkt.auto-fold #adminmenu li.menu-top > a {
		padding: 0;
		height: 44px;
	}

	body.rkt.auto-fold #adminmenu .wp-menu-name {
		border-bottom: none;
	}

	body.rkt #wpadminbar #wp-admin-bar-edit>.ab-item,
	body.rkt #wpadminbar #wp-admin-bar-my-account>.ab-item,
	body.rkt #wpadminbar #wp-admin-bar-my-sites>.ab-item,
	body.rkt #wpadminbar #wp-admin-bar-site-name>.ab-item {
		height: 42px;
	}

	body.rkt.auto-fold #adminmenuback,
	body.rkt.auto-fold #adminmenuwrap {
		display: block;
		left: -190px;
		transition: all 0.3s ease;
	}

	body.rkt.auto-fold .wp-responsive-open #adminmenuback,
	body.rkt.auto-fold .wp-responsive-open #adminmenuwrap {
		display: block;
		left: 0;
	}


	body.rkt #wpbody {
		position: relative;
		transition: all 0.3s ease;
		right: 0;
	}

	body.rkt .wp-responsive-open #wpbody {
		right: -190px;
		transition: all 0.3s ease;
	}



}



#wpadminbar .ab-icon, #wpadminbar .ab-item:before, #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
	display: none;
}
